nav img {
	width: 100px;
	padding: 10px 15px 10px 50px;
}

body {
	font-family: 'Average', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

h1 {
	padding: 10% 4% 0 4.6%;
	color: #fff;
}
nav {
	width: inherit;
}

#header-box {
	background: url(../img/header_75_q.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header-box p {
	padding: 0% 4.6% 10% 4.8%;
	color: #fff;
}

.title-area a {
	text-decoration: none;
	color: #fff;
}
.title-area a:hover {
	text-decoration: none;
	color: #ccc;
}

.left .button {
	margin: 0 20px;
}

.hidden-nav-points {
	visibility: hidden;
	margin: 0;
	padding: 0;
	line-height: 0;
}

#services-head-text h2{
	margin: 5% 0;
}

.full-width {
    width: 100%;
    margin: 0 auto;
    max-width: initial;
    }

.project-box {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 0;
}
.project-box h2{
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.project-box p {
	color: #fff;
	margin: 0;

}
#kaibosh-box {
	background: url(../img/kaibosh_30opacity.jpg) no-repeat center center;
    padding-bottom: 50%;
}
#edi-soft-box {
	background: url(../img/edisoft_30opacity.jpg) no-repeat center center;
    padding-bottom: 67%;
}
#tidal-box {
	background: url(../img/edisoft_30opacity.jpg) no-repeat center center;
    padding-bottom: 67%;
}

.cta-button {
	padding: 50px 0;
}

#other_costumers {
	background-color: #2D2D2E;
	padding: 40px 0;
}
#other_costumers ul {
	text-align: center;
}
#other_costumers li {
	display: inline-block;
	vertical-align: center;
	margin: 1em 0;
}
#other_costumers img {
	padding: 30px 0;
}

#footer_block {
	background-color: #2D2D2E;
}
