nav img {
	width: 100px;
	padding: 10px 15px 10px 50px;
}

body, a, .button {
	font-family: 'Average', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

h1 {
	padding: 10% 4% 0 4.6%;
	color: #fff;
}
nav {
	width: inherit;
	background-color: rgba(30, 30, 30, 0);
}

#header-box {
	background: url(../img/header_75_q.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header-box p {
	padding: 0% 4.6% 10% 4.8%;
	color: #fff;
}

.title-area a {
	text-decoration: none;
	color: #fff;
}
.title-area a:hover {
	text-decoration: none;
	color: #ccc;
}

.left .button {
	margin: 0 20px;
}

.hidden-nav-points {
	visibility: hidden;
	margin: 0;
	padding: 0;
	line-height: 0;
}

#services-head-text h2{
	margin: 5% 0;
}

.full-width {
	width: 100%;
	max-width: initial;
	margin: 0 auto;
}
.full-width-images {
    max-width: 1440px;
    margin: 0 auto;
}

.img-row {
	overflow: hidden;
	color: #fff;
}
.img-row img{
    position: relative;
    z-index: 1;
}
.img-row h2{
	color: #fff;
}
.img-row hr {
	margin: 2%;
}
.img-row h3 {
	color: #fff;
}

.project-text-container {
	text-align: center;
	position: absolute;
	z-index: 2;
	top: 10%;
	
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.cta-button {
	padding: 50px 0 0 0;
}
.cta-button a{
	padding: 30px 0;
	font-size: 150%;
}

#other_costumers {
	background-color: #2D2D2E;
	padding: 40px 0;
}
#other_costumers ul {
	text-align: center;
}
#other_costumers li {
	display: inline-block;
	vertical-align: center;
	margin: 0;
}
#other_costumers img {
	padding: 0;
}

#human-row2 {
	padding-top: 20px;
}

#asbjorn, #oda, #vilje, #arnt {
	padding: 10px 10px;
}

#footer_block {
	background-color: #2D2D2E;
}
